$font-color: #acaeae;

:host {
  color: $font-color;
}

.input {
  background: transparent;
  outline: none;
  font-size: 36px;
  color: $font-color;
}

main {
  border-color: $font-color;
}

li {
  &.select {
    background: #006fe6;
  }
}
