<div class="d-flex">
  <h3 class="icon-search m-3"></h3>

  <input
    autofocus
    type="text"
    class="w-100 input border-0"
    placeholder="Search..."
    [(ngModel)]="searchText"
    (ngModelChange)="change($event)"
  />

  <!-- <h3 class="icon-cog m-3"></h3> -->
</div>
<main #main>
  <ul *ngIf="searchResult.length > 0" class="pb-3" >
    <li
      #item
      *ngFor="let snippet of searchResult; let i = index"
      class="p-2 item"
      [ngClass]="{ select: selectIndex === i }"
      (click)="choice(snippet)"
      (mouseenter)="hover(i)"
    >
      <span class="ml-3">
        {{ snippet.key }}
      </span>
    </li>
  </ul>
</main>
