<header class="pb-2 pl-3 d-flex align-items-center">
  <h3>Snippets</h3>
  <i class="flex-fill"></i>
  <span
    class="icon-eye mr-4 cursor-pointer"
    [ngClass]="{ 'icon-eye-blocked': !isPreview }"
    (click)="togglePreview()"
  ></span>
  <span class="icon-plus mr-4 cursor-pointer" (click)="add()"></span>
</header>

<ul class="mx-3">
  <li class="mb-1">
    <div class="p-2 d-flex w-100 active">
      <span class="d-block w-25">
        Title
      </span>
      <span>
        Content
      </span>
    </div>
  </li>
  <li
    *ngFor="let snippet of snippets; let i = index"
    class="item mb-1"
    (click)="edit(i)"
  >
    <div class="d-flex w-100">
      <ng-container *ngIf="snippet && !isPreview; else editElm">
        <span class="d-block w-25 p-2">
          {{ snippet.key }}
        </span>
        <span class="p-2">
          ******************************************
        </span>
        <i class="flex-fill"></i>
        <span
          class="icon-cancel-circle cursor-pointer"
          (click)="remove(i)"
        ></span>
      </ng-container>
      <ng-template #editElm>
        <span class="d-block w-25 p-2" contenteditable>
          {{ snippet.key }}
        </span>
        <span class="w-75 p-2" contenteditable>
          {{ snippet.value }}
        </span>
      </ng-template>
    </div>
  </li>
</ul>
