$font-color: #acaeae;

:host {
  color: $font-color;
}

.input {
  font-size: 24px;
  color: $font-color;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.placeholder {
  color: rgba($font-color, 0.42);
  pointer-events: none;
}

main {
  border-color: $font-color;
  // max-height: 400px;
}

li {
  &.select {
    background: #006fe6;
  }
}
