@import '~scss/_my-theme.variable.scss';
@mixin course-card() {
  .course-card {
    padding: 0 10px 10px 10px;
    .card-item {
      display: block;
      overflow: hidden; // &:before {
      //   content: '';
      //   position: absolute;
      //   top: -24%;
      //   right: 151%;
      //   width: 60px;
      //   height: 151%;
      //   background: rgba(white, .3);
      //   transform: rotate(20deg);
      // }
      &:hover {
        @include mat-elevation(8);
        transform: translateY(-2px); // &:before {
        //   right: -50%;
        //   transition: 0.8s ease all;
        // }
        footer .button {
          box-shadow: 0 0 0px 99px #ff444487 inset;
          &:before {
            right: -50%;
            transition: 0.8s ease all;
          }
        }
      }
      .img {
        padding-bottom: 56.25%
      }
      main {
        height: 10em;
        .title {
          overflow: hidden;
          max-height: 2.3em;
        }
        .content {
          overflow: hidden;
          max-height: 4.8em;
        }
      }
      footer {
        ul {
          border-right: 1px solid #eaeaea;
          &:last-child {
            border-color: transparent;
          }
        }
        .button {
          display: block;
          overflow: hidden;
          &:before {
            content: '';
            position: absolute;
            top: -40%;
            right: 110%;
            width: 30px;
            height: 200%;
            background: rgba(white, .3);
            transform: rotate(20deg);
          }
        }
      }
    }
  }
}
