.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.fx-fill {
  height: 100%;
  margin: 0;
  width: 100%;
}

.fx-al-c {
  align-items: center;
}

// .fx-jc-s {
//   justify-content: flex-start;
// }

.fx-jc-c {
  justify-content: center;
}

.fx-jc-e {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}
