@import '~@angular/material/theming';

$app-color: (
  grey-light: mat-palette($mat-grey, 300),
  grey: mat-palette($mat-grey, 500),
  grey-dark: mat-palette($mat-grey, 800),
  red: mat-palette($mat-red, 500),
  green: mat-palette($mat-lime, A400),
  yellow: mat-palette($mat-yellow, 600),
  blue: mat-palette($mat-blue, 400),
);

@function  app-color($color, $opacity: null){
  @return mat-color(map-get($app-color, $color),default,$opacity);
}
