@import "./scss/normalize.scss";
@import "./scss/_my-boostrap.theme";
@import "./assets/icons/style.css";

html,
body {
  height: 100%;
  background: rgba(39, 40, 34, 0.7);
}

* {
  outline: none !important;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
    display: block;
  }
}

.transition {
  transition: all .195s cubic-bezier(0.4, 0.0, 1, 1);
}

.transition-long {
  transition: all .295s cubic-bezier(0.4, 0.0, 1, 1);
}

.cursor-pointer {
  cursor: pointer;
}
